<%- include("partials/header.ejs") %>



<h1>Welcome to the Blog!</h1>

<% if (posts.length === 0) { %>
    <p>No blogs yet. <a href="/compose">Create a blog</a></p>
<% } else { %>
    <% posts.forEach(post => { %>
        <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
    <% }) %>
    <p><a href="/compose">Create more blogs</a></p>
<% } %>



<%- include("partials/footer.ejs") %>